<div class="container">
  <div class="col-4">
    <a href="" routerLink="./users/users-list">Listar</a>
    <a href="" routerLink="./users/users-create">Crear</a>
    <a href="" routerLink="./users/users-update">Actualizar</a>
    <a href="" routerLink="./users/users-view">Ver</a>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
